body {
    background-color: #555555;
}

h2 {
    margin: auto;
    text-align: center;
    font-family: 'Satisfy';
    padding: 5% 0 5% 0;
}

h3 {
    margin: auto;
    text-align: center;
    padding: 5% 0 5% 0;
    font-family: 'Satisfy';
}

p {
    font-family: 'Arsenal';
}

.container {
    width: 95%;
    margin: auto;
    max-width: 1100px;
    background-color: #e2e2e2;
    margin-top: 2%;
}

header {  
    width: 100%;
    background-color: #ffffff;
}

header img {
    max-width: 300px;
    margin: auto;
    display: block;
}

nav {
    text-align: center;
    padding-top: 5%;
    width: 100%;
    font-family: 'Arsenal';
}

nav ul {
    list-style: none;
    display: block;
    margin: auto;
}

nav li {
    display: inline-block;
    padding-left: 10px;
}


main {
    width: 100%;
    padding: 10% 0 10% 0;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}

main img {
    width: 60%;
    max-width: 250px;
    border-radius: 50%;
}

#education {
    background-color: #e2e2e2;
    font-family: 'Arsenal';
    text-align: left;
    padding-bottom: 5%;
}

#education ul {
    display: block;
    list-style: none;
}

#experience {
    margin: auto;
    max-width: 700px;
    width: 100%;
    padding: 5% 0 15% 0;
    background-color: #ffffff;
}

#skillssection {
    margin: auto;
    padding: 5% 0 5% 0;
    width: 90%;
}

#interests {
}

footer {
    background-color: #ffffff;
    padding: 5% 0 5% 0;
    width: 100%;
}

button {
    margin: auto;
    display: block;
    width: 30%;
    padding: 4% 0 4% 0;
    text-align: center;
    font-family: 'Satisfy';
}

/* JQUERY Tabs CSS */
.tabs {
    margin: auto;
    width: 90%;
    text-align: center;
    font-family: 'Arsenal';
    border: 1px solid black;
}

.tabs > DIV {
    margin-top: 10px;
    background: white;
}

.tabs > DIV SPAN {
    color: #000000;
    font-weight: 300;
    line-height: 30px;
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 30px 0 25px 0;
}

.tabs UL.horizontal {
    list-style: none outside none;
    margin: 0;
}

.tabs LI {
    background: white;
    border-bottom: 4px solid #e5e5e5;
    margin: 0 10px 0 0;
    display: inline-block;
}

.tabs A {
    color: #cccccc;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 14px 24px;
    text-decoration: none;
}

.tabs LI:hover {
    background: #a0cac0;
    border-bottom: 4px solid #68a697;
}

.tabs LI:hover A {
    color: white;
}

