body {
    border: 15px solid #e3e3e3;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: 'Satisfy';
    padding: 5% 0 0% 0;
}

h3 {
    margin: auto;
    text-align: center;
    padding: 5% 0 2% 0;
    font-family: 'Satisfy';
}

h4 {
    margin: auto;
    text-align: center;
    font-family: 'Arsenal';
    padding-bottom: 1%;
}

p {
    font-family: 'Arsenal';
    text-align: center;
    padding-top: 1%;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1100px;
    background-color: #f2f2f2;
    margin-top: 2%;
}

header {
    width: 100%;
    background-color: #ffffff;
}

header img {
    max-width: 300px;
    margin: auto;
    display: block;
}

/* Mobile Nav */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Arsenal';
    color: #000000;
}

.navbar a {
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    margin: auto;
    text-align: center;
    display: block;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: #b78b9a;
    font-family: 'Satisfy';
    margin: 0 auto;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    width: 30%;
    margin: auto;
    border: 1px solid #555555;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Tablet and Desktop Nav */
#mainnav {
    margin: auto;
    display: none;
    text-align: center;
    background-color: #ffffff;
}

#mainnav ul {
    list-style: none;
    display: block;
}

#mainnav li {
    display: inline-block;
    font-family: 'Arsenal';
}

main {
    width: 100%;
    padding: 10% 0 10% 0;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}

main img {
    width: 60%;
    max-width: 250px;
    border-radius: 50%;
}

#education {
    background-color: #f2f2f2;
    font-family: 'Arsenal';
    text-align: left;
    padding-bottom: 5%;
}

#education ul {
    display: block;
    list-style: none;
}

#experience {
    margin: auto;
    width: 100%;
    padding: 1% 0 8% 0;
    background-color: #ffffff;
}

#experience h1 {
    margin-bottom: 8%;
}

#skillssection {
    margin: auto;
    padding: 5% 0 5% 0;
    width: 90%;
}

#interests {
    background-color: #ffffff;
    padding: 5% 0 5% 0;
}

.interestimg {
    display: block;
    max-width: 250px;
    border-radius: 50%;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

footer {
    padding: 5% 0 5% 0;
    width: 100%;
}

button {
    margin: auto;
    display: block;
    width: 30%;
    padding: 4% 0 4% 0;
    text-align: center;
    font-family: 'Satisfy';
    border-radius: 10%;
    background-color: #b78b9a;
    color: white;
}

button:hover {
    background-color: #7a4a5b;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* JQUERY Tabs CSS */
.tabs {
    margin: auto;
    width: 90%;
    text-align: center;
    font-family: 'Arsenal';
    border: 1px solid black;
    max-width: 700px;
    padding: 40px 0 40px 0;
}

.tabs > DIV {
    margin-top: 10px;
    background: white;
}

.tabs > DIV SPAN {
    color: #000000;
    font-weight: 300;
    line-height: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px 25px 10px;
}

.tabs UL.horizontal {
    list-style: none outside none;
    margin: 0;
}

.tabs LI {
    background: white;
    border-bottom: 4px solid #b78b9a;
    margin: 10px 25px 0 0;
    display: inline-block;
}

.tabs A {
    color: #cccccc;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 14px 24px;
    text-decoration: none;
}

.tabs LI:hover {
    background: #b78b9a;
    border-bottom: 2px solid #e3e3e3;
}

.tabs LI:hover A {
    color: white;
}
@media (min-width: 600px) {

    #mainnav {
        display: block;
    }

    .dropbtn {
        display: none;
    }

    .interestimg {
        display: inline-block;
        width: 40%;
        margin-top: 5%;
        margin-left: 7%;
    }
}
@media (min-width: 700px) {

    header {
        padding-bottom: 5%;
    }

    main {
        float: left;
        width: 40%;
        margin-left: 5%;
        background-color: #f2f2f2;
    }

    main img {
        width: 80%;
        max-width: 350px;
    }

    #education {
        float: right;
        width: 40%;
        margin-right: 10%;
        margin-top: 2%;
    }

    #skillssection {
        float: left;
        width: 35%;
        margin-left: 5%;
    }

    #interests {
        float: right;
        width: 45%;
        background-color: #f2f2f2;
    }

    #experience h1 {
        padding-top: 2%;
        margin-bottom: 3%;
    }

    footer {
        background-color: white;
    }

    button {
        width: 20%;
        padding: 2% 0 2% 0;
        font-size: 1.2rem;
    }
}
@media (min-width: 850px) {

    #education h1 {
        padding-top: 20%;
    }

    header img {
        max-width: 400px;
    }
}
@media (min-width: 1101px) {

    .container {
        border: 1px solid #e3e3e3;
        margin-bottom: 2%;
    }
}